<div class="container">
    <form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Subjects</th>
                <th scope="col">Ram</th>
                <th scope="col">Shyam</th>
                <th scope="col">Sohan</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Sicence</th>
                <td> <input type="text" name="" id=""> </td>
                <td> <input type="text" name="" id=""> </td>
                <td> <input type="text" name="" id=""> </td>
              </tr>
              <tr>
                <th scope="row">Hindi</th>
                <td><input type="text" name="" id=""> </td>
                <td><input type="text" name="" id=""> </td>
                <td><input type="text" name="" id=""> </td>
              </tr>
              <tr>
                <th scope="row">English</th>
                <td> <input type="text" name="" id=""> </td>
                <td> <input type="text" name="" id=""> </td>
                <td> <input type="text" name="" id=""> </td>
              </tr>
              <tr>
                <th scope="row">Total Marks</th>
                <td> <input type="text" name="" id=""> </td>
                <td> <input type="text" name="" id=""> </td>
                <td> <input type="text" name="" id=""> </td>
              </tr>
            </tbody>
          </table>
    </form>
</div>